.vis1 {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: #006BB6;
    stroke-width: 1.4px;
}

.chart {
    float: left;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 0;
    padding-left: 0;
}

.background {
    fill: none;
}