.titletext {
	text-anchor: middle;
	font-size: 20px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x-axis text {
    text-anchor: end;
}

.player_line {
    fill: none;
    stroke: #000;
    stroke-width: 3;
}

.tooltip-object {
    stroke: grey;
    stroke-width: 2;
}